@layer theme, base, antd, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@import './app.css' layer(base);
@import './scrollbar.css' layer(base);
@import './view-transition.css' layer(base);

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/forms";

@theme {
  --font-latin: var(--font-latin), sans-serif;
  --font-sc: var(--font-sc), sans-serif;
  --font-tc: var(--font-tc), sans-serif;
  --font-jp: var(--font-jp), sans-serif;
  --font-kr: var(--font-kr), sans-serif;
  --font-ar: var(--font-ar), sans-serif;
  --font-hi: var(--font-hi), sans-serif;
  --font-th: var(--font-th), sans-serif;
}
